<h1>
{{ contact.contactName }}

</h1>
<form>
  <ul>
  <li><strong>User Name:&nbsp;&nbsp;</strong>{{ contact.contactName }}</li>
  <!-- <li><strong>Email:&nbsp;&nbsp;</strong>{{ contact.email }}</li>
  <li><strong>Phone:&nbsp;&nbsp;</strong>{{ contact.phone }}</li>
  <li><strong>Address:&nbsp;&nbsp;</strong>
  {{ contact.address+ ', ' + contact.address2+', '+contact.city 
  +', '+contact.zipcode}}</li>
  <li><strong>Website:&nbsp;&nbsp;</strong>{{ contact.imageUrl }}</li>
   -->
  
  </ul>
  
</form>
  